.GameCard {
  padding: 5px;
  margin: 10px;
  gap: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  .GameCard_main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      filter: brightness(70%);
    }

    .game_card_cover {
      display: flex;
      width: 310px;
      height: 330px;

      .game_card_image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .game_card_body {
      background-color: #2a2d3a;

      display: flex;
      flex-direction: column;

      width: 310px;
      height: 120px;

      overflow: hidden;
      cursor: pointer;

      .game_card_content {
        display: flex;
        flex-direction: column;

        .game_card_text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          padding: 10px;
          gap: 20px;


          font-family: 'Pretendard', sans-serif;

          .game_card_title {
            font-weight: bold;
            text-align: left;
            color: white;
            font-size: 20px;
            width: 100%;
          }

          .game_card_elaborate {
            font-size: 14px;
            color: #f0f0f0;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            text-align: left;
            line-height: 1.7;
          }
        }
      }
    }
  }
}