.GameCard {
  cursor: pointer;

  .cardHoverArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(120%);

      .gameCardTitle {
        color: #00f0ff;
      }
    }
  }

  .gameCardCover {
    width: 310px;
    height: 330px;
    display: flex;

    .gameCardImage {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .gameCardBody {
    background-color: #2a2d3a;
    width: 310px;
    height: 120px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;

    .gameCardTitle {
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 8px;
      transition: color 0.3s;
    }

    .gameCardElaborate {
      font-size: 14px;
      color: #f0f0f0;
      line-height: 1.6;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}