body {
    height: 100vh;
    background: 
      radial-gradient(circle farthest-corner at top left, #292637, transparent),
      radial-gradient(circle farthest-corner at top right, #393B4B, transparent),
      radial-gradient(circle farthest-corner at bottom left, #211E2F, transparent),
      radial-gradient(circle farthest-corner at bottom right, #282838, transparent);
  }
  
  .logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: hidden;
  }
  
  .logo-image {
    width: 400px;
    height: auto;
  }
  
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .button-container button {
    width: 180px;
    height: 45px;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #565679;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }