html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
}
  
.main {
    background-color: #161d28;
    
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}