html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.rankingmodebackground {
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: transparent;
  overflow: hidden;
  pointer-events: none;

  z-index: 0;
}

.rankingGameMain {
  background: linear-gradient(to bottom, #0d1a2d, #11293d, #183b4e);

  width: 100vw;
  min-height: calc(100vh - 56px);

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;

  font-family: "Pretendard", sans-serif;
  text-align: center;

  .quizIntro {
    z-index: 5;

    .quizHeading {
      margin: 30px 0 10px;
      font-size: 28px;
      font-weight: 800;
      color: #ffffff;

      .highlight {
        color: #00f0ff;
      }
    }

    .quizSubText {
      font-size: 18px;
      color: #cccccc;
      margin: 12px 0 0 0;

      p {
        margin: 8px;
      }
    }
  }

  .profileSection {
    background-color: #1b2430;

    z-index: 5;

    display: flex;
    align-items: center;

    min-height: 120px;
    padding: 22px 50px;
    margin: 20px;
    gap: 50px;

    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 240, 255, 0.15);

    .profileImg {
      width: 110px;
      height: 110px;

      border-radius: 50%;
      object-fit: cover;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .nickname {
        margin-bottom: 12px;
        font-size: 26px;
        font-weight: 700;
        color: #00f0ff;
      }

      .stats {
        width: 100%;
        gap: 8px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        color: #cccccc;

        .xp,
        .rank {
          display: inline-block;
        }
      }
    }
  }

  .ruleSection {
    background-color: rgba(255, 255, 255, 0.2);

    z-index: 100;

    width: 100%;
    max-width: 650px;
    padding: 25px 30px;
    margin: 20px auto;

    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.12);

    text-align: left;
    color: #ffffff;

    h3 {
      margin: 0 0 25px 0;
      font-size: 26px;
      color: #00f0ff;
    }

    p {
      margin: 16px 0 0 0;
      font-size: 16px;
      color: #cccccc;
    }
  }

  .btnSection {
    margin: 20px 0 60px;

    z-index: 5;

    .startBtn {
      background-color: #00f0ff;

      padding: 14px 30px;

      border: 2px solid #00f0ff;
      border-radius: 12px;

      color: #000;
      font-weight: 700;
      font-size: 22px;

      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #00f0ff;
        color: #1b2430;
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 240, 255, 0.2);
      }
    }
  }
}

@media (max-width: 768px) {
  .rankingGameMain {
    padding: 0 16px;

    .quizIntro {
      .quizHeading {
        font-size: 20px;
      }

      .quizSubText {
        font-size: 14px;

        p {
          margin: 8px 0;
        }
      }
    }

    .profileSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 60px;
      gap: 20px;

      .profileImg {
        width: 80px;
        height: 80px;
      }

      .userInfo {
        align-items: center;

        .nickname {
          font-size: 20px;
        }

        .stats {
          font-size: 14px;
          justify-content: center;
        }
      }
    }

    .ruleSection {
      padding: 20px;
      margin: 16px auto;
      max-width: 80%;

      h3 {
        font-size: 20px;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;
        margin: 12px 0 0 0;
      }
    }

    .btnSection {
      margin: 30px 0 80px;

      .startBtn {
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 10px;
      }
    }
  }
}