@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@550&family=Jersey+20&display=swap");

.herobackground {
  font-family: "Cascadia Code", monospace;

  position: absolute;

  top: 60;
  left: 0;
  width: 100%;
  max-height: 400px;
  height: 100%;

  padding: 0 50px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  color: rgba(0, 225, 127, 0.2);
  font-size: 11px;

  z-index: 1;
  overflow: hidden;
}

.code {
  font-family: "Cascadia Code", monospace;
  font-size: 11px;

  color: rgba(0, 225, 127, 0.2);

  white-space: pre-wrap;

  line-height: 1.5;
  overflow: hidden;
  user-select: none;
  position: relative;

  margin: 0;
}

/* .string {
  color: #ff0000;
} -> 문자열
.number {
  color: #adff2f;
} -> 숫자
.blue {
  color: #0000ff;
} -> 클래스명, 특수메서드
.green {
  color: #008000;
} -> import, def 등 키워드
.navy {
  color: #000080;
} -> .
.purple {
  color: #ff00ff;
} -> 연산자
.deeppink {
  color: #800080;
}
.gray {
  color: #808080;
} -> {}, [] 등
 */
