@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@550&family=Jersey+20&display=swap");

.herobackground {
  font-family: "Cascadia Code", monospace;

  position: absolute;

  top: 60;
  left: 0;
  width: 100%;
  max-height: 400px;
  height: 100%;

  padding: 0 50px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  color: rgba(0, 225, 127, 0.2);
  font-size: 11px;

  z-index: 1;
  overflow: hidden;
}

.code {
  font-family: "Cascadia Code", monospace;
  font-size: 11px;

  color: rgba(0, 225, 127, 0.2);

  white-space: pre-wrap;

  line-height: 1.5;
  overflow: hidden;
  user-select: none;
  position: relative;

  margin: 0;
}

/* .cursor {
  display: inline-block;
  animation: blink 1s steps(2, start) infinite;
  color: rgba(0, 225, 127, 0.2);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
} */
