@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Pixelify+Sans:wght@500&display=swap");

.hero {
  background: linear-gradient(to bottom, #0d1a2d, #11293d, #183b4e);

  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-family: "Jersey 20", "Pretendard", sans-serif;

  .heroInner {
    width: 100%;
    max-width: 1100px;
    padding: 0 20vw;
    gap: 10px;
    row-gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .heroTextBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
  }

  .heroTitle {
    margin: 0;

    font-size: 80px;
    font-weight: 800;
    color: #00f0ff;

    text-align: center;
  }

  .heroSubtitle {
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-size: 18px;

    text-align: center;

    .heroHighlight {
      font-weight: 600;
      color: #e0e0e0;
    }

    .heroSubtext {
      font-weight: 500;
      color: #cccccc;
    }
  }
  .heroBtn {
    margin-top: 12px;

    button {
      background-color: #00f0ff;

      padding: 12px 24px;

      font-size: 16px;
      font-weight: 600;
      color: #161d28;

      border-radius: 8px;
      border: none;

      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #00d6e6;
      }
    }
  }

  .heroImage {
    height: 350px;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
  }

  .herobackImage {
    height: 100%;
    width: 100%;
  }
}
