.quizsection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 16px;
    text-align: center;
    background-color: #282534;
    box-sizing: border-box;

    .quizsectionGrid {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 50px;
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 16px;
      box-sizing: border-box;
    }
}
