.quizsection {
    padding: 80px 0;
    text-align: center;
    background-color: #2A2D3A;

    .quizsectionGrid {
        display: flex;
        justify-content: center;
        gap: 32px;
        flex-wrap: wrap;
    }
}