.quizsection {
  background-color: #161d28;

  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Pretendard', sans-serif;

  .quizCards {
    width: fit-content;
    margin: 0 auto;
    padding: 0 2vw;
    gap: 24px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .quizCard {
    background-color: #1b2430;

    width: 240px;
    height: 110px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 12px;
    border: 1px solid #00f0ff;

    font-size: 16px;
    color: #e0e0e0;
    text-align: left;

    .quizEmoji {
      margin-bottom: 8px;

      font-size: 18px;
    }
    
    .quizMain {
      margin-bottom: 10px;

      font-size: 20px;
      font-weight: 700;
    }

    .quizSub {
      margin-top: 8px;

      font-size: 16px;
      font-weight: 400;
      color: #cccccc;
    }
  }
}
