.MyAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 10px 20px;
}
.MyImage {
  display: flex;
  padding: 10px;
}
.ProfileImage {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}
.MY {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.MyName {
  display: flex;
  align-items: baseline;
  gap: 25px;
}
.MyNickname {
  color: aqua;
  font-size: 40px;
  font-weight: 900;
}
.MyID {
  color: #00f0ff;
  font-size: 15px;
  font-weight: bold;
}
.MyButton {
  display: flex;
  gap: 10px;
}
.chageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin: 5px;
  background-color: #2a2d3a;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.chageButton:hover {
  background-color: #b1b1b1;
  color: whitesmoke;
  font-weight: bold;
}
