.My_Rank {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  font-family: 'Pretendard', sans-serif;

  .MyRanking {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .Ranking {
      color: #ffffff; 
      font-size: 32px;
      font-weight: 900;
      text-align: center;
    }

    .Rank {
      background-color: #1b2430;

      width: 100%;
      max-width: 490px;
      padding: 20px 20px;
      gap: 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      border-radius: 8px;

      .MyPlacing, .myXp, .Ranker {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
      }

      b {
        color: #00f0ff;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}