.UserRanking {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Pretendard', sans-serif;

  .Readerboard {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
  }

  .userList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .userRow {
      background-color: #2a2d3a;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      flex-wrap: wrap;

      .placing {
        padding: 8px 20px;
        font-size: 16px;
        color: #ffffff;
        border-radius: 8px;

        .rank {
          font-size: 20px;
        }
      }

      .username {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #cccccc;
      }

      .scoreline {
        display: flex;
        gap: 4px;
        font-size: 16px;
        color: #aaaaaa;
      }

      .myXp {
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}