.questionWrapper {
  background-color: #161d28;

  width: 100%;
  min-height: calc(100vh - 56px);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  font-family: 'Pretendard', sans-serif;

  .countdownBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .countdownText {
      font-size: 80px;
      font-weight: 900;
      color: #00f0ff;
      animation: fadeScale 0.6s ease-in-out;
    }

     @keyframes fadeScale {
      0% {
        opacity: 0;
        transform: scale(0.5);
      }
      50% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 0;
        transform: scale(1);
      }
    }
  }

  .questionSection {
    background: linear-gradient(to bottom, #0d1a2d, #11293d, #183b4e);    

    width: 100%;
    min-height: 520px;
    padding: 16px 0;
    box-sizing: border-box;

    flex: 0 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .questionNumber {
      background-color: rgba(0, 240, 255, 0.1);

      padding: 6px 14px;
      margin-bottom: 10px;

      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 240, 255, 0.2);
      position: static;
      top: 20px;
      left: 50%;

      font-size: 16px;
      font-weight: 600;
      color: #00f0ff;
    }

    .questionCard {
      background-color: #1b2430;

      max-width: 620px;
      padding: 30px 36px;
      margin-top: 8px;

      border-radius: 10px;
      box-shadow: 0 8px 24px rgba(0, 240, 255, 0.25);
      position: relative;

      font-family: "Pretendard", sans-serif;
      font-size: 20px;
      color: #f0f0f0;
      text-align: left;
      line-height: 1.8;

      &::before {
        content: "💬 ";

        background-color: #00f0ff;
        position: absolute;
        top: -20px;
        left: 24px;
        box-shadow: 0 2px 6px rgba(0, 240, 255, 0.3);

        color: #1b2430;
        font-size: 14px;
        padding: 6px 14px;
        border-radius: 999px;
        font-weight: 700;
      }
    }

    .questionImage {
      max-width: 80vw;
      max-height: 55vh;
      min-width: 600px;
      min-height: 430px;
      padding: 8px;

      object-fit: contain;
      display: block;
    }
  }

  .rankingTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 8px;
      
    font-size: 24px;
    font-weight: 700;
    color: #00f0ff;
  }

  .answerSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.feedbackMode {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      gap: 20px;

      .feedbackText {
        margin: 0;
        font-size: 28px;
        font-weight: 800;
        color: #00f0ff;
      }
  
      .correctAnswer {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        opacity: 0.8;
        margin: 8px;
      }
  
      .nextBtn {
        background-color: #00f0ff;
        padding: 14px 32px;
        border: none;
        border-radius: 10px;
  
        font-size: 18px;
        font-weight: 700;
        color: #1b2430;
  
        cursor: pointer;
        transition: all 0.2s ease;
  
        &:hover {
          background-color: #00d6e6;
          transform: translateY(-2px);
          box-shadow: 0 6px 16px rgba(0, 240, 255, 0.3);
        }
      }
    }

    &.inputMode {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      padding: 0;
      gap: 10px;

      input {
        background-color: #1b2430;
  
        width: 296px;
        height: 56px;
        padding: 0 20px;
        display: block;
  
        border: 2px solid #00f0ff;
        border-radius: 10px;
  
        font-size: 16px;
        color: white;
      }
  
      .enterBtn {
        background-color: #00f0ff;
  
        width: 80px;
        height: 60px;
  
        border: none;
        border-radius: 10px;
  
        color: #1b2430;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        transition: all 0.2s ease;
  
        &:hover {
          background-color: #00d6e6;
          transform: translateY(-2px);
          box-shadow: 0 6px 16px rgba(0, 240, 255, 0.2);
        }
      }
    }
  }
}