.questionWrapper {
  background-color: #161d28;

  width: 100%;
  min-height: calc(100vh - 56px);
  gap: 70px;

  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .questionSection {
    background: linear-gradient(to bottom, #0d1a2d, #11293d, #183b4e);    

    width: 100%;
    gap: 24px;
    padding: 20px 0 60px;
    box-sizing: border-box;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    .questionNumber {
      background-color: rgba(0, 240, 255, 0.1);

      padding: 6px 14px;
      margin-bottom: -8px;

      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 240, 255, 0.2);
      position: static;
      top: 20px;
      left: 50%;

      font-size: 16px;
      font-weight: 600;
      color: #00f0ff;
    }

    .questionCard {
      background-color: #1b2430;

      max-width: 620px;
      padding: 30px 36px;
      margin-top: 8px;

      border-radius: 10px;
      box-shadow: 0 8px 24px rgba(0, 240, 255, 0.25);
      position: relative;

      font-family: "Pretendard", sans-serif;
      font-size: 20px;
      color: #f0f0f0;
      text-align: left;
      line-height: 1.8;

      &::before {
        content: "💬 ";

        background-color: #00f0ff;
        position: absolute;
        top: -20px;
        left: 24px;
        box-shadow: 0 2px 6px rgba(0, 240, 255, 0.3);

        color: #1b2430;
        font-size: 14px;
        padding: 6px 14px;
        border-radius: 999px;
        font-weight: 700;
      }
    }

    .questionImage {
      max-width: 800px;
      max-height: 440px;
      width: auto;
      height: auto;
      min-width: 600px;
      min-height: 300px;
      padding-top: 6px;

      object-fit: contain;
      display: block;
    }
  }

  .answerSection {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    gap: 10px;

    input {
      background-color: #1b2430;

      width: 296px;
      height: 56px;
      padding: 0 20px;

      border: 2px solid #00f0ff;
      border-radius: 10px;

      font-size: 16px;
      color: white;
    }

    button {
      background-color: #00f0ff;

      width: 80px;
      height: 60px;

      border: none;
      border-radius: 10px;

      color: #1b2430;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: all 0.2s ease;

      &:hover {
        background-color: #00d6e6;
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 240, 255, 0.2);
      }
    }
  }
}
