body{
  height: 100vh;  /* 전체 화면 높이를 설정 */
  background: 
    radial-gradient(circle farthest-corner at top left, #292637, transparent), /* 왼쪽 상단 */
    radial-gradient(circle farthest-corner at top right, #393B4B, transparent), /* 오른쪽 상단 */
    radial-gradient(circle farthest-corner at bottom left, #211E2F, transparent), /* 왼쪽 하단 */
    radial-gradient(circle farthest-corner at bottom right, #282838, transparent); /* 오른쪽 하단 */
}

#logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

#logo-image {
  width: 350px;
  height: auto;
  transform: translateY(-70px);
}

#button-container{
  display: flex;
  align-items: center; /* 가운데 정렬 */
  margin-top: 10px; /* 이미지와 버튼 사이 간격 */
}