.myQuiz {
  padding: 10px 20px;

  display: block;

  .myStats {
      color: #ffffff;
      font-size: 32px;
      font-weight: 900;
      text-align: center;
  }

  .myQuestion {
    width: 100%;
    gap: 10px;
    box-sizing: border-box;

    background-color: #2a2d3a;

    width: 100%;
    max-width: 490px;
    padding: 10px;

    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    
    display: block;
    align-items: center;
    justify-content: space-between;

    font-family: 'Pretendard', sans-serif;

    .myAll, .myRight, .myWrong {
      gap: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
    }
    
    .Number {
      color: #00f0ff;
    }
  }
}
