.myQuiz {
  padding: 10px 0px;
  gap: 20px;
  display: flex;
  flex-direction: column;

  .myStats {
      color: #ffffff;
      font-size: 32px;
      font-weight: 900;
      text-align: center;
  }

  .myQuestion {
    width: 100%;
    gap: 0px;
    box-sizing: border-box;

    background-color: #1b2430;

    width: 100%;
    max-width: 490px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;

    font-family: 'Pretendard', sans-serif;

    .myAll, .myRight, .myWrong, .myPercent {
      gap: 10px;
      padding: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
    }
    
    .Number {
      color: #00f0ff;
    }
  }
}
