/*게임 헤더*/
.GameHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #2a2d3a;
}
.GameHeader_background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0px 32px;
}
.HeaderLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.LogoImage {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.LogoImage:hover {
  filter: brightness(70%);
}
.GameHeader_root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.HeaderButton_log {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  margin: 5px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.HeaderButton_log:hover {
  background-color: #b1b1b1;
  font-weight: bold;
}
.HeaderButton_my {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  margin: 5px;
  background-color: aqua;
  color: #0f1225;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.HeaderButton_my:hover {
  background-color: #00f0ff;
  font-weight: bold;
}
