.NicknameField, .EmailField, .PasswordField, .PasswordCheckField {
    width: 100%;
    gap: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Pretendard', sans-serif;

    label {
        margin-left: 4px;

        font-size: 16px;
        font-weight: 600;
        color: #F7F7F7;
        text-align: center;
    }

    input {
        background-color: #F7F7F7;

        width: 100%;
        max-width: 320px;
        height: 40px;  
        padding: 0 12px;
        box-sizing: border-box;

        font-size: 14px; 
        font-weight: 500;

        border-radius: 8px;
        border: 1px solid #CCCCCC;
    }

    p {
        width: auto;
        max-width: 400px;
        margin: 4px 0 0 4px;

        white-space: nowrap;
        overflow: visible;
        text-overflow: initial;

        font-size: 12px;
        font-weight: 500;

        &.valid {
            color: #00F0FF;
        }
        &.invalid {
            color: #F7F7F7;
        }
    }
}
