@import "../../../style/variables.scss";

.regsiterSubmitForm {
    @include flexColumn;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 0;

    button {
        width: 300px;
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #66BFCB;
        font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
        font-size: 14px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        box-sizing: border-box;

        &:hover {
            background-color: #00f0ff;
        }
    }
  }
}
