@import '/src/styles/variables.scss';

.regsiterSubmitForm {
    @include flexColumn;
    align-items: center;
    width: 100%;
    max-width: 25rem;

    button {
        width: 23rem;
        height: 3rem;
        margin: 1rem 0;
        border: $border;
        border-radius: 0.5rem;
        background-color: $primaryColor;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;

        &:disabled {
            background-color: lightblue;
            color: rgb(50, 50, 50);
            cursor: auto;
        }
    }
}