@import "../../../style/variables.scss";

.loginSubmitForm {
  @include flexColumn;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 0;

  .EmailField,
  .PasswordField {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    label {
      color: #fff;
      text-align: center;
      font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR",
        sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }

    input {
      width: 300px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      background: #f7f7f7;
      padding: 0 10px;
      font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR",
        sans-serif;
      font-size: 12px;
    }
  }

  .PasswordField {
    padding: 10px 0 50px 0;
  }

  button {
    display: flex;
    width: 300px;
    height: 40px;
    padding: 0;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #66bfcb;
    font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      background-color: #00f0ff;
    }

    &:disabled {
      background-color: #66bfcb;
      color: rgb(50, 50, 50);
      cursor: auto;
    }
  }
}
