@import '../../../styles/variables.scss';

.loginSubmitForm {
    @include flexColumn;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    .EmailField {
        display: flex;
        padding: 8px 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;

        label {
            color: #FFF;
            text-align: center;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        input {
            width: 300px;
            height: 40px;   
            border-radius: 8px;
            border: 1px solid #CCC;
            box-sizing: border-box;
            background: #F7F7F7;
            padding: 0 10px;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    }

    .PasswordField {
        display: flex;
        padding: 10px 0 50px 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;

        label {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
        }

        input {
            width: 300px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #CCC;
            box-sizing: border-box;
            background: #F7F7F7;
            padding: 0 10px;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    }
    

    button {
        display: flex;
        width: 300px;
        height: 40px;
        padding: 0;
        border: none;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        box-sizing: border-box;
        background: #66BFCB;
        font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            background-color: #00F0FF;
        }

        &:disabled {
            background-color: #66BFCB;
            color: rgb(50, 50, 50);
            cursor: auto;
        }
    }
}